/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,700&display=swap');
/* Variáveis */
/*  */
:root {
  /* Paleta de cores */
--cor-principal: #2C3E50; /* Azul escuro */
--cor-destaque: #2980B9; /* Azul claro */
--cor-white: #ffffff; /* Branco */
--cor-01: #ECF0F1; /* Cinza claro */
--cor-02: #BDC3C7; /* Cinza médio */
--cor-03: #95A5A6; /* Cinza escuro */
--cor-black: #000000; /* Preto */
--cor-cinza: #7F8C8D; /* Cinza */
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--cor-01);
    color: var(--cor-black);
}

/* ===== Barra de Navegação ===== */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--cor-principal);
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.1rem;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 0.5rem;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--cor-white);
    font-weight: 700;
    padding: 0.5rem;
    transition: 0.5s;
}

nav a:hover {
    color: var(--cor-03);
}

.logo {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--cor-white);
}

/* ===== Cabeçalho da página ===== */
header {
    height: 20rem;
    margin-top: 3.5rem;
    background-color: var(--cor-03);
}

/* ===== Sections ===== */
section {
    min-height: 80vh;
    padding: 5rem 2rem;

    border: solid 2px red; /* TESTE */
}

/* ===== Card do Imóvel ===== */
#imoveis {
    width: 96%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
    margin: 2rem 0;

    margin: auto;

    
    border: solid 1px green; /* TESTE */
}

.imovel {
    
    border: solid 1px #0066ff; /* TESTE */
    transition: 0.5s;
}

.imovel:hover {
    transform: scale(1.05);
    cursor: pointer;

}

.foto {
    height: 14rem;
    
    border: solid 1px #1ddb00; /* TESTE */
    width: 14rem;
    width: 100%;
}

.foto img {
    height: 100%;
}

/* ===== Footer ===== */
footer {
    min-height: 16rem;
    background-color: var(--cor-principal);
    color: var(--cor-white);
    padding: 2rem;
}