/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');
/* Variáveis */
/*  */
:root {
    /* Paleta de cores */
    --cor-principal: #8a1a9e;
    --cor-destaque: #d000f0;
    --cor-01: #f9f9f9;
    --cor-02: #cfcfcf;
    --cor-03: #2c2e32;
    --cor-04: #232323;
    --cor-05: #000000;
    --cor-06: #42454a;
}

/* Reset (limpa as configurações padrão) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--cor-01);
    color: var(--cor-03)
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--cor-03);
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    letter-spacing: 0.1rem;

}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 1rem;
    letter-spacing: 0.1rem;
}

nav a {
    text-decoration: none;
    color: var(--cor-01);
    padding: 0.5rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s;

    border: solid 1px yellow; /* TESTE */
}

nav a:hover {
    color: var(--cor-destaque);
}

.logo {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--cor-01);
    text-transform: uppercase;
}

header {
    height: 10rem;
    background-color: var(--cor-02);
    margin-top: 3rem;
}

section {
    min-width: 100vh;
    padding: 5rem ;


    border: solid 1px yellow; /* TESTE */
    padding: 2rem;
}

footer {
    min-width: 16rem;
    background-color: var(--cor-03);
    padding: 2rem;
}